# Created from ansible role: gikeymarcia.sanoid
# WARNING: Edits will be overwritten in subsequent runs of the role

## name your backup modules with the path to their ZFS dataset - no leading slash.
#[zpoolname/datasetname]
#	# pick one or more templates - they're defined (and editable) below. Comma separated, processed in order.
#	# in this example, template_demo's daily value overrides template_production's daily value.
#	use_template = production,demo
#
#	# if you want to, you can override settings in the template directly inside module definitions like this.
#	# in this example, we override the template to only keep 12 hourly and 1 monthly snapshot for this dataset.
#	hourly = 12
#	monthly = 1
#
## you can also handle datasets recursively.
#[zpoolname/parent]
#	use_template = production
#	recursive = yes
#	# if you want sanoid to manage the child datasets but leave this one alone, set process_children_only.
#	process_children_only = yes
#
## you can selectively override settings for child datasets which already fall under a recursive definition.
#[zpoolname/parent/child]
#	# child datasets already initialized won't be wiped out, so if you use a new template, it will
#	# only override the values already set by the parent template, not replace it completely.
#	use_template = demo


# you can also handle datasets recursively in an atomic way without the possibility to override settings for child datasets.
# [zpoolname/parent2]
# 	use_template = production
# 	recursive = zfs

{% for backup in sanoid_backup_modules %}
[{{ backup.name }}]
	# backup Module Values
{% if backup.template is defined %}
	use_template = {{ backup.template }}
{% endif %}
{% if backup.recursive is defined %}
	recursive = {{ backup.recursive }}
{% endif %}
{% if backup.process_children_only is defined %}
	process_children_only = {{ backup.process_children_only }}
{% endif %}
	# backup override values
{% if backup.autosnap is defined %}
	autosnap = {{ backup.autosnap }}
{% endif %}
{% if backup.autoprune is defined %}
	autoprune = {{ backup.autoprune }}
{% endif %}
{% if backup.frequently is defined %}
	frequently = {{ backup.frequently }}
{% endif %}
{% if backup.hourly is defined %}
	hourly = {{ backup.hourly }}
{% endif %}
{% if backup.daily is defined %}
	daily = {{ backup.daily }}
{% endif %}
{% if backup.weekly is defined %}
	weekly = {{ backup.weekly }}
{% endif %}
{% if backup.monthly is defined %}
	monthly = {{ backup.monthly }}
{% endif %}
{% if backup.yearly is defined %}
	yearly = {{ backup.yearly }}
{% endif %}
{% if backup.monitor is defined %}
	monitor = {{ backup.monitor }}
{% endif %}
{% if backup.hourly_warn is defined %}
	hourly_warn = {{ backup.hourly_warn }}
{% endif %}
{% if backup.hourly_crit is defined %}
	hourly_crit = {{ backup.hourly_crit }}
{% endif %}
{% if backup.daily_warn is defined %}
	daily_warn = {{ backup.daily_warn }}
{% endif %}
{% if backup.daily_crit is defined %}
	daily_crit = {{ backup.daily_crit }}
{% endif %}

{% endfor %}
#############################
# templates below this line #
#############################

{% for template in sanoid_templates %}
[template_{{ template.name }}]
{% if template.autosnap is defined %}
	autosnap = {{ template.autosnap }}
{% endif %}
{% if template.autoprune is defined %}
	autoprune = {{ template.autoprune }}
{% endif %}
{% if template.frequently is defined %}
	frequently = {{ template.frequently }}
{% endif %}
{% if template.hourly is defined %}
	hourly = {{ template.hourly }}
{% endif %}
{% if template.daily is defined %}
	daily = {{ template.daily }}
{% endif %}
{% if template.weekly is defined %}
	weekly = {{ template.weekly }}
{% endif %}
{% if template.monthly is defined %}
	monthly = {{ template.monthly }}
{% endif %}
{% if template.yearly is defined %}
	yearly = {{ template.yearly }}
{% endif %}
{% if template.monitor is defined %}
	monitor = {{ template.monitor }}
{% endif %}
{% if template.hourly_warn is defined %}
	hourly_warn = {{ template.hourly_warn }}
{% endif %}
{% if template.hourly_crit is defined %}
	hourly_crit = {{ template.hourly_crit }}
{% endif %}
{% if template.daily_warn is defined %}
	daily_warn = {{ template.daily_warn }}
{% endif %}
{% if template.daily_crit is defined %}
	daily_crit = {{ template.daily_crit }}
{% endif %}

{% endfor %}
# NOT YET IMPLEMENTED IN ANSIBLE
# [template_scripts]
# 	### information about the snapshot will be supplied as environment variables,
# 	### see the README.md file for details about what is passed when.
# 	### run script before snapshot
# 	pre_snapshot_script = /path/to/script.sh
# 	### run script after snapshot
# 	post_snapshot_script = /path/to/script.sh
# 	### run script before pruning snapshot
# 	pre_pruning_script = /path/to/script.sh
# 	### run script after pruning snapshot
# 	pruning_script = /path/to/script.sh
# 	### don't take an inconsistent snapshot (skip if pre script fails)
# 	#no_inconsistent_snapshot = yes
# 	### run post_snapshot_script when pre_snapshot_script is failing
# 	#force_post_snapshot_script = yes
# 	### limit allowed execution time of scripts before continuing (<= 0: infinite)
# 	script_timeout = 5

# vim: ft=dosini :
